body {
	background: black;
	text-align: center;
	background: url(images/greentile.gif) repeat;
}
.wrap {
	font-family: helvitica, sans-serif;
	background: white;
	width: 900px;
	margin: 0 auto;
	border-left: 5px solid green;
	border-right: 5px solid green;
	border-bottom: 5px solid green;
	text-align: left;
}
h1 {
	height: 50px;
	letter-spacing: 1px;
	padding-top: 20px;
	width: 100%;
	background: green;
	color: white;
}
p, h2, h3, h4, ul, pre {
	padding-left: 5px;
}
h2 {
	background: green;
	padding-top: 5px;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	font-size: 120%;
	color: white;
}
h3 {
	font-size: 110%;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: normal;
	border-bottom: 1px solid lightgreen;
	clear: both;
}
h4 {
    font-size: 105%;
    font-weight: normal;
    clear: both;
}
ul {
	margin-left: 15px 
}
ul.nav {
	height: 26px;
	background: blanchedalmond;
	border-bottom: 1px solid green;
	border-top: 1px solid green;
	list-style-type: none;
	margin-left: 0px;
	margin-top: -22px;
	padding: 0;
	text-align: center;
}
ul.nav li {
	float: left;
	display: block;
}
ul.nav li a {
	color: darkgreen;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	display: block;
	text-decoration: none;
}
ul.nav li a:hover {
	background: lightgreen;
	color: darkgreen 
}
.floatImg {
	float: right;
	margin: 0px 10px 10px 10px;
}
pre {
	width: 90%;
	padding: 0px 10px;
	color: navy;
}
.documentation table { 
	width: 700px;
}
.documentation table td { 
	padding: 5px; 
	color: #555; 
	border: 1px solid #eee;
}
.documentation table thead td { 
	color: black; 
	background: #efefef;
}
.documentation h3, .documentation h4, .documentation h5 { 
    padding: 0px; 
    margin: 0px; 
    font-style: normal; 
	font-size: 100%;
    border: 0; 
    letter-spacing: 0.8px;
}
.documentation h3 { 
	
	
}
.documentation h4 { } 
.documentation h5, .documentation ul ol { 
    font-weight: normal; 
}
.documentation li { 
    margin-top: 4px; 
}
.documentation .subtopic { 
	margin-top: 10px;
}
.documentation p { 
    
    margin: 7px; 
    padding: 0; 
    padding-left: 5px; 
    color: #555; 
}
.documentation pre {
	width: 750px;
	height: 50px;
	background: #efefef;
	margin-left:5px;
    overflow-x: auto;
}
.documentation em {
    font-style: normal;
    font-family: monospace;
}
.screenshots div { 
	width: 100%;
	clear: both;
	overflow: hidden;
	border-bottom: 2px dotted #eee;
	padding-top: 5px;
}
.screenshots div a img {
	border: 0; 
	float: left;
	margin: 5px 0px 5px 0px;
}
