---
layout: pizza
title: Frequently Asked Questions about Making Pizza

---
<div class="container">
  <h2>
    Frequently Asked Questions about Making Pizza
  </h2>
  <ul>
    <li>
      <a href='#what_is_the'>What is the best way to get a raw, topped pizza onto a hot pizza stone?</a>
    </li>
    <li>
      <a href='#which_oven'>Which oven rack should the pizza go on?</a>
    </li>
    <li>
      <a href='#can_i_use'>Can I use whole-wheat or some other kind of flour?</a>
    </li>
    <li>
      <a href='#why_does_my'>Why does my dough have thin spots and/or holes when I stretch it?</a>
    </li>
    <li>
      <a href='#i_dont_have'>I don't have a pizza stone or pizza screen - is there something else lying around that I can use to cook a pizza?</a>
    </li>
  </ul>
  <dl class='faq'>
    {% include responsive_ad.html %}
    <a name='what_is_the'></a>
    <dt>What is the best way to get a raw, topped pizza onto a hot pizza stone?</dt>
    <dd>
      Several readers of the site have suggested using parchment paper to transfer
      the pizza from something like a cutting board onto the hot stone.  The parchment
      paper can stay underneath the pizza or can be removed.  It's probably a good
      idea to lubricate the whole affair with plenty of cornmeal.
    </dd>
    <a name='which_oven'></a>
    <dt>Which oven rack should the pizza go on?</dt>
    <dd>
      Generally, your pizza will cook best when it gets the same amount of heat on the top and bottom.
      Not all ovens are made the same way, but in my experience most of the time this is the middle.   Sometimes that spot will
      be near the top of the oven or closer to the bottom.  Start in the middle, and if you find that the pizza
      cooks too fast on the bottom, move it up a notch next time.  If the cheese is totally browned and the bottom
      of the crust is still white, then try moving it down.  These suggestions assume that the burners
      are at the bottom of your oven.
    </dd>
    <a name='can_i_use'></a>
    <dt>Can I use whole-wheat or some other kind of flour?</dt>
    <dd>
      Yeah, absolutely!  I like to use a portion of whole wheat flour mixed with bread flour -
      usually about 1/3 whole wheat to 2/3 bread flour.  You can make the entire
      pizza with whole wheat with great results, too. The flavor of whole wheat flour adds
      a new dimension that you can use to work with with the toppings.
    </dd>
    <a name='why_does_my'></a>
    <dt>Why does my dough have thin spots and/or holes when I stretch it?</dt>
    <dd>
      There are a few common causes of this problem.  If your dough is noticeably thicker
      toward the edges and thin in the middle, you are probably not pressing down firmly
      and evenly enough when you spread the dough.  While the pulling action is important,
      the squeezing / flattening action of your hands is equally important.  Be sure to
      put plenty of flour or cornmeal under the dough to keep it moving cleanly.  Another cause
      is that your dough is too wet and is sticking to the work surface.  If it is too wet,
      the dough will continue to stick when you work it, no matter how much cornmeal or flour
      is used.  A third cause is that the dough is too dry.  Dry dough does not have as much
      elasticity and rips more easily than moist dough.
    </dd>
    {% include responsive_ad.html %}

    <a name='i_dont_have'></a>
    <dt>
      I don't have a pizza stone or pizza screen - is there something else lying around
      that I can use to cook a pizza?
    </dt>
    <dd>
      Probably, though your results may not be as good.  Here are a few ideas:
      <ol>
        <li>
          <em>Pizza Pan</em>
          - If you had one of these, you would probably know.  Some of them
          cook a pizza about as well as a stone or screen.  Some are designed for a typical
          hand-tossed pizza; others for a thicker, deeper crust.
        </li>
        <li>
          <em>Cast Iron Skillet</em>
          - The whole skillet can get plopped right into the oven,
          at whatever temperature you can get your oven up to.  You might want to try a little oil
          instead of cornmeal for lubrication - the results would be tasty!  It's not
          necessary to preheat the skillet - but if you can, do.  You can transfer the topped, raw
          pizza into the skillet via a sheet of parchment paper.
        </li>
        <li>
          <em>Cookie Sheet</em>
          -
          Contrary to popular belief, it is OK to have a rectangular pizza.  My experience is
          that the bottom of the crust
          does not get as brown as a comparable cooking time on a screen or stone.
          One of those higher-quality sheets with a chamber of air in the middle would
          work best.
        </li>
        <li>
          <em>Cookie Sheet (par-baking method)</em>
          - One reader emailed me to suggest his method of placing the crust on a cookie
          sheet (without any toppings or sauce) and baking it until it is sturdy enough to support itself
          on the oven rack.
        </li>
        <li>
          <em>Disposable aluminum pizza pan</em>
          - these are actually sold in grocery stores, at
          least a few of the ones I've been to.  They are essentially disposable pie tins,
          but flat, with little ridges to let some air under the dough.
          You probably don't have one of these handy, but if you do, here's
          a tip: poke a bunch of tiny holes in the bottom.  I've used these a few times, and
          poking holes in the bottom made the crust just a little better.  Be sure to
          put something underneath the pizza when you pull it out of the oven! These pans
          aren't sturdy enough to hold the weight of a pizza on their own, especially when
          gripped from only one side.
        </li>
        <li>
          <em>Cooling rack or BBQ/oven rack</em>
          - assuming that the gaps in your rack are
          not huge, it is possible to use something like this to cook a pizza.  You might
          be tempted to put the dough straight on it without support, but you'd be better
          off using some aluminum foil on top of it. Unless it is designed to support floppy pizza
          (such as a pizza screen), it probably will let too much dough through and cause
          some oven mishaps.   And remember - aluminum foil can be washed and reused!
        </li>
      </ol>
    </dd>
  </dl>
</div>
